development/MTConnectDevice_1.4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns="urn:mtconnect.org:MTConnectDevices:1.4" targetNamespace="urn:mtconnect.org:MTConnectDevices:1.4" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
  <xs:include schemaLocation="http://schemas.mtconnect.org/schemas/MTConnectDevices_1.4.xsd"/>
  <xs:complexType name="LaserComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Laser" type="LaserComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LaserDoorComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LaserDoor" type="LaserDoorComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="VatComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Vat" type="VatComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CartComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cart" type="CartComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PartBedComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartBed" type="PartBedComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BlackBodyComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BlackBody" type="BlackBodyComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RollerComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Roller" type="RollerComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PistonComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Piston" type="PistonComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PartIrBlockComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PartIrBlock" type="PartIrBlockComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="IrSensorHeadComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IrSensorHead" type="IrSensorHeadComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CylinderComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cylinder" type="CylinderComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ScannerComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Scanner" type="ScannerComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LeftIrBlockComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeftIrBlock" type="LeftIrBlockComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RightIrBlockComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RightIrBlock" type="RightIrBlockComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RcmComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rcm" type="RcmComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ExhaustFilterComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExhaustFilter" type="ExhaustFilterComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ZMotorComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZMotor" type="ZMotorComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ProjectorComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Projector" type="ProjectorComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ResinTrayComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResinTray" type="ResinTrayComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MembraneComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Membrane" type="MembraneComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RobotComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Robot" type="RobotComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MaterialPumpComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MaterialPump" type="MaterialPumpComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CatchTrayComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CatchTray" type="CatchTrayComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LightTowerComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LightTower" type="LightTowerComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="FeedPistonComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedPiston" type="FeedPistonComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CoaterComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Coater" type="CoaterComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="BuildPlatformComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuildPlatform" type="BuildPlatformComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LeftFeedComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeftFeed" type="LeftFeedComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="RightFeedComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RightFeed" type="RightFeedComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TestcomponentComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Testcomponent" type="TestcomponentComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TestComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Test" type="TestComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LowerchamberComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Lowerchamber" type="LowerchamberComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="UpperchamberComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Upperchamber" type="UpperchamberComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ChamberComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chamber" type="ChamberComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TestComponentComponentType">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CommonComponentType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TestComponent" type="TestComponentComponentType" substitutionGroup="CommonComponent">
    <xs:annotation>
      <xs:documentation>Custom Component by 3DConnect</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>